<!doctype html>
<html lang="id">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap" rel="stylesheet">
    <title>404 | Tidak Ditemukan</title>
  </head>
  <body class="bg-gradient-to-r from-indigo-400 to-indigo-800 font-quicksand">
    <div class="text-center px-5 md:max-w-xl mx-auto max-w-[450px]">
      <div class="w-[80%] mx-auto mt-20 text-neutral-200">
        <img src="/img/justyui.png" alt="failled" class="w-1/2 block mx-auto sm:max-w-[250px]">
        <p class="font-semibold text-sm my-2 sm:text-normal sm:text-center sm:mt-2 md:text-2xl">404 | Tidak Ada Apa Apa di Sini ;_;</p>
        <a href="/" class="text-sm rounded py-1 mt-3 block sm:mx-auto w-fit sm:text-normal sm:w-fit sm:text-center underline md:text-xl">&laquo; Kembali ke halaman utama</a>
      </div>
    </div>
  </body>
</html>